<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hllo</p>
    <div class="messages">

    </div>
    <form action="/api" method="post" id="myform">
        <button id="start-button">Start</button>
        <button id="stop-button">Stop</button>
        <input type="text" name="input" id="textin">
        <button type="submit">Ask</button>
    </form>
</body>
<script>
    function request_response() {

        let value = document.getElementById("textin").value
        let messages = document.querySelector('.messages')
        let user_message = document.createElement('p')
        user_message.textContent = value
        messages.appendChild(user_message)
        fetch('/api/', { method: 'POST', 
        headers: {"Content-Type": "application/json"},
        credentials: "same-origin",
        body: JSON.stringify({ value: value }) })
        .then(response => response.json())
        .then((data) => {
            let bot_message = document.createElement('p')
            bot_message.textContent = data?.response
            messages.appendChild(bot_message)
        })

    }
    document.getElementById('myform').addEventListener('submit',(event)=>{
        event.preventDefault()
        request_response()
    })

    const textin = document.getElementById("textin")
    const startButton = document.getElementById("start-button")
    const stopButton = document.getElementById("stop-button")
    const recognition = new SpeechRecognition();

    recognition.interimResults = true;
    recognition.lang = 'en-US'

    startButton.addEventListener('click', ()=>{
        recognition.start();
    })

    stopButton.addEventListener('click',()=>{
        recognition.stop();
    })

    recognition.addEventListener('result', (event)=>{
        const transcript = Array.from(event.results).map(result=>result[0].transcript).join('');
        textin.value = transcript
    })
</script>

</html>